.about {

    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  
}

.aboutMain {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.smallTitle {
  font-size: 3rem;
}

.textSection {
  font-weight: 600;
}
