.sidebar {
   width: 40px;
   position: fixed;
   bottom: 0px;
   left: 30px;
   right: auto;
   z-index: 10;
}

.sociallist {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

.customList {
    line-height: 100px;
}

.upworkLogo {
    filter: invert(15%) sepia(56%) saturate(2828%) hue-rotate(196deg) brightness(88%) contrast(96%);
}