h1 {
  font-family: "Roboto Mono", monospace;
  color: #05386b;
  font-size: 1.2rem;
}

h2,
h3,
p {
  font-family: "Inter", sans-serif;
  color: #edf5e1;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

.navbar {
  padding: 1.5rem;
  display: flex;
  justify-content: right;
}

.btnGroup {
}
