.jumbotron {
  margin: 8rem 8rem;
  padding: 150px;
}

.mainContainer {
}

h1 {
  font-family: "Roboto Mono", monospace;
  color: #05386b;
  font-size: 1.7rem;
  margin: 0.5rem auto;
}

h2,
h3,
p {
  font-family: "Inter", sans-serif;
  color: #05386b;
  margin: 0.5rem auto;
  font-weight: 700;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3.5rem;
}

p {
  font-size: 1.3rem;
  margin: 1rem 0;
  width: 900px;
  max-width: 80%;
}

.navbar {
  background-color: #05386b;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: right;
}

.btnGroup {
}

.upwork {
  margin: 2rem 0;
}

.treeImg {
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 900px;
  height: 900px;
  max-width: 100%;
  filter: invert(15%) sepia(23%) saturate(6517%) hue-rotate(196deg)
    brightness(90%) contrast(96%);
}
