/* Roboto Mono, Inter */
/* #05386b */
/* #215385 */
/* #379683 */
/* #5CDB95 */
/* #8EE4AF */
/* #EDF5E1 */

.mainBody {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

h1 {
  font-family: "Roboto Mono", monospace;
}

h2,
h3,
p {
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: #05386b;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: right;
  box-shadow: 0 8px 6px -6px #999;
}
